<h2 class="text-center p-3 text-uppercase">New Resolution</h2>

<%= render 'form', resolution: @resolution %>

<%= link_to 'Back', resolutions_path, class: 'px-4 py-2 text-dark rounded-3 my-3 d-block text-end bg-transparent' %>